@import "variables.scss";

.nav-container {
	 background-color: white;
	 padding-top: 1.5rem;
	 padding-bottom: 1.5rem;
	 border-bottom: 1px solid $wine;
	 margin-bottom: 5rem;
	}

.navbar-brand, .nav-link {color: $black!important}

.nav-link {
    font-size: $m;
    position: relative;
}

.nav-link {
	padding: 0 20px !important;
	height: 45px;
	line-height: 45px;
	background-color: transparent;
	border: none;
	color: $black
}

.nav-item {
	margin-left: 2rem;
}

.navbar-brand{
	font-size: $m;
	font-weight: bold;
}